.header {
  background-color: burlywood;
}

body {
  font-size: 50px;
}
body div {
  font-size: 35px;
  color: aqua;
}

.title {
  text-transform: uppercase;
}

.block__item {
  margin-left: 50px;
  font-size: 28px;
}
.block__item--last {
  text-decoration: underline;
}